@import './../sass/variables.scss';

.projectsCard {
    min-width: $projectsCardWidth;
    min-height: $projectsCardHeight;
    background-color: white;
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    
}

.projectCard {
    width: $projectCardWidth;
    height: $projectCardHeight;
    background-color: skyblue;

    margin: 16px;
    padding: 16px;
    width: 320px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;

    display: flex;
    flex-direction: column;

}