@import './../sass/variables.scss';

.projectsCard {
    width: 1000px;
    min-height: 100%;
    background-color: white;
    
    
}

.projectCard {
    width: $projectCardWidth;
    height: $projectCardHeight;
    background-color: skyblue;

    margin: 16px;
    padding: 16px;
    width: 320px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;

    display: flex;
    flex-direction: column;

}

.welcomeCard {
    width: 1000px;
    min-height: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.projectDetailCard {
    width: 1000px;
    min-height: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contactCard {
    width: 1000px;
    background-color: white;
}