.navigationList {
    width: 20rem;
    list-style-type: none;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.navigationList li a {
    text-decoration: none;
}
.navigationList li a:hover {
    color: blue;
}