.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.routes {
  flex: 1;
  display: flex;

  /* margin: 16px; */
}

/* setting links in navigation bar of header based on NavLink element selection by React Router Library */
/* a.active {
  padding-bottom: 4px;
  border-bottom: 4px solid blue;
} */